@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }
  
  html {
    height: 100%;
  }

  body {
    height: 100%;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    background-color: #FFFFFF;
   
  }

  .page-header {
    color: #000000;
    background: #FFFFFF;
    background-size: 100% auto;
  }
  
  .page-container {
    box-sizing: border-box;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    width: 1200px; 
    min-height: 100%;
    background: #FFFFFF;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
  }

  .navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto; 

  }

  .navigation-list {
    width: 412px;
    margin: 0; /*Сброс ссылок навигации*/
    padding-left: 71px;
  }

  .navigation-user {
    width: 334px;
    margin-left: auto;
    
  }
  .navigation-link {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
  }
  
  .main-container {
    flex-grow: 1;
 }

  .navigation-text {
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF; 
  } 

  .main-index {
    color: #000000;
    background-size: 100% auto;
    background-repeat: no-repeat;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
  }

  .promo {
    background-image: url("../img/mountain.jpg");
  }

  .logo-header {
    display: block;
    margin: 0 auto;
  }

  .logo-main {
    display: block;
    margin: 0 auto;

  }
  
  .advantages-heading {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }
  
  .advantages-subtitle {
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
  }
  
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0;
    padding: 0;
  }

   .advantages-one-line { /*1-я строка преимуществ*/
    display: flex;
  }

  .advantages-one-block { 
    width: 400px;
    background: #83B3D3;
  }

  .advantages-two-line { /*2-я строка преимуществ*/
    display: flex;
  }

  .advantages-two-block {
    width: 400px;
    background: rgba(131, 179, 211, 0.12);
  }
  .advantages-three-block {
    width: 400px;
    background: #FFFFFF;

  }
  .advantages-four-block {
    width: 400px;
    background: rgba(131, 179, 211, 0.12);
  }
  .advantages-three-line { /*3-я строка преимуществ*/
    display: flex;
  }

  .advantages-five-block {
    width: 400px;
    background: #83B3D3;
  }

  .advantages-four-line { /*4-я строка преимуществ*/
    display: flex;
  }
  .advantages-six-block {
    width: 400px;
    background: rgba(131, 179, 211, 0.12);
  }
  .advantages-seven-block {
    width: 400px;
    background: rgba(131, 179, 211, 0.2);
  }
  .advantages-eight-block {
    width: 400px;
    background: rgba(131, 179, 211, 0.12);
  }
  
  .advantages-title {
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  .advantages-text {
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
  }
  
  .black {
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
  }
  
  .gray {
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
  }
  .hotels-order {
    margin: 0 auto;
    
  }
  
  .hotels-heading {
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
  }
  
  .hotels-text {
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
  }
  
  .button-hotels-search {
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  .page-footer {
    color: #FFFFFF;
    background: #8BABB8;
    background-image: url("../img/background.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  
  .page-footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
  }
  .newsletter-block {
    width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }

  .social-list-block {
  display: flex;
  justify-content: space-between;
  width: 1200px;
 
  }
  .newsletter-title {
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight:bold;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF; 
  }

  
  
  .newsletter-text {
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
  }
  
  .button-newsletter-button {
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  .contacts-phone {
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #000000;
  }
  
  /* Стилизуем каталог */
  
  .main-inner {
    color: #FFFFFF;
    background: #FFFFFF;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .hotels-parametrs {
    background-image: url("../img/background.png");
  }

  .inner-block {
    width: 528px;
    padding-left: 71px;
  }
  
  .inner-header-title {
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
  }
  
  .breadcrumbs-text {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
  
  }
  .parametrs-filter {
    width: 1057px;
    display: flex;
  }

  .parametrs-filter-one {
    width: 150px;
    padding-left: 71px;
    margin-right: 68px;
    
  }
  .parametrs-filter-two {
    width: 145px;
    margin-right: 167px;
  
  }
  .parametrs-filter-three {
    width: 287px;
    margin-right: 81px;
    
  }
  

  .parametrs-filter-title {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
  }
  
  .control-label {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
  }
  
  .button-blue {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  .button-dark {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
  }
  .sorting-block {
    display:flex;
    
  }
  .result-heading-title {
    padding-left: 71px;
    margin-right: 191px;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    color: #000000;
  }

  .search-result {
    background-size: #FFFFFF;
  }

  .newsletter {
    background-size: #FFFFFF;
  }

  .newsletter-title-black {
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight:bold;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000; 
  }

  .newsletter-text-gray {
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #333333; 
  }

  .button-sorting {
    width: 160px;
    display: flex;
  }
  .select-control {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
  }
  .hotels-card {
    margin-left: 71px;
    display: flex;
    width: 1056px;
 
  }
.hotels-img {
  margin-right: 36px;
}
  /* .hotels-block-one {
    
  }
  .hotels-block-two {
    
  }
  .hotels-block-three {
    
  }
  .hotels-block-four {
    
  } */

  .rating-text {
    margin-left: 200px;
  }
  .button-upload {
    margin: 0 auto;
  }

  .pagination-sorting {
    display: flex;
    width: 1056px;
    margin-left: 71px;
   
  }
  .pagination {
    display: flex;
    width: 369px;
    margin-right: 301px;
    
  }
  .hotels-title {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
  }
  
  .hotels-text {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
  }
  
  .button-gray {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  .button-green {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  .rating-text {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
  }
  
  .button-upload {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  .pagination-link-pagination-current {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }
  .pagination-link {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF; 
    }
    
  .number-text {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
  }
  

  .select-control {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
  }
  .page-white-footer {
    background: #FFFFFF;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .newsletter-title-catalog {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }
  
  .newsletter-text-catalog {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
  }